minorenv/
see2seek.egg-info/
__pycache__/
*.pyc
imgs/
test.ipynb
imagenav_dataset/
test.py
birds_eye_views
data
data_new
data_new_dr
data_clip
data_dino_v3
data_dino_v4
tests
wandb
dataset
birds_eye_views_with_paths
logs
augment_dataset
.claude